In [7]:
import pandas as pd
import numpy as np
import random as rd

In [8]:
df = pd.read_csv('music_genre.csv')

In [9]:
df = df.drop(['acousticness','instrumentalness','key','liveness','loudness','mode','speechiness','obtained_date','valence'], axis=1)
df.head()

,instance_id,artist_name,track_name,popularity,danceability,duration_ms,energy,tempo,music_genre
0,32894.0,Röyksopp,Röyksopp's Night Out,27.0,0.652,-1.0,0.941,100.889,Electronic
1,46652.0,Thievery Corporation,The Shining Path,31.0,0.622,218293.0,0.890,115.00200000000001,Electronic
2,30097.0,Dillon Francis,Hurricane,28.0,0.620,215613.0,0.755,127.994,Electronic
3,62177.0,Dubloadz,Nitro,34.0,0.774,166875.0,0.700,128.014,Electronic
4,24907.0,What So Not,Divide & Conquer,32.0,0.638,222369.0,0.587,145.036,Electronic

In [16]:
# pick up the artist name of the music name equal Hurricane
artist = df[df['track_name'] == 'Hurricane']
artist['artist_name'].values

array(['Dillon Francis', 'Eprom', 'Theory of a Deadman', 'Grizfolk',
       'Dustin Lynch', 'The Band Of Heathens', 'Luke Combs',
       'Possessed by Paul James', 'The Band Of Heathens',
       'Panic! At The Disco'], dtype=object)

In [13]:
for data in df:
    if data['track_name'] == 'Hurricane':
        print(data)

TypeError: string indices must be integers

In [23]:
def test(a,b):
    return{'sum': a+b,'sub': a-b,'mul': a*b,'div': a/b}

In [29]:
test(3,10)['sum']

13

In [2]:
message = 'bonjour je suis ici'

#print the message and his type
print(message)
print(type(message))

bonjour je suis ici
<class 'str'>

In [44]:
def test_2(name,age):
    return_list = []
    rd_number = rd.randint(0,1)
    print(rd_number)
    return_list.append(f"your name is {name} and you are {age} years old")
    return_list.append(f"you are named {name} and you are {age}")
    return return_list[rd_number]
test_2('benjamin', '20')

0

'your name is benjmain and you are 20 years old'

In [5]:
datas = {"music" : [
                    "who is the artist of (.*)",
                    "who whote (.*)"
                ]}
def test_3(datas):
    for i, data in datas.items():
        print(i, data)
test_3(datas)

music ['who is the artist of (.*)', 'who whote (.*)']

In [6]:
A  = 'bonjour'
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print(color.BOLD, f'bonjour {A}', color.GREEN)
print('hello world !')

 bonjour bonjour
hello world !

In [1]:
#how to count in a dataframe te number of rows where music is equal to Hurricane and artist is equal to the artist name
df[(df['music'] == 'Hurricane') & (df['artist_name'] == 'The Chainsmokers')] 

# convert tempo into float
df['tempo'] = df['tempo'].astype(float)

NameError: name 'df' is not defined

In [5]:
#how to convert a dict into a dataframe
import pandas as pd
d = {'a': [1,2,3], 'b': [2,3,4], 'c': [3,4,5]}
df = pd.DataFrame(d)

df
#add a line instance to my dataframe
df.loc[len(df)] = [4,5,6]
#how to add a column to my dataframe
df['d'] = [4,5,6]

#how to append a

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5

In [7]:
#create a list of dict of random data
import random as rd
list_of_dict = []
for i in range(10):
    list_of_dict.append({'a': i, 'b': i*2, 'c': i*3})

#shuffle the list
rd.shuffle(list_of_dict)
print (list_of_dict)

[{'a': 3, 'b': 6, 'c': 9}, {'a': 9, 'b': 18, 'c': 27}, {'a': 2, 'b': 4, 'c': 6}, {'a': 7, 'b': 14, 'c': 21}, {'a': 1, 'b': 2, 'c': 3}, {'a': 6, 'b': 12, 'c': 18}, {'a': 0, 'b': 0, 'c': 0}, {'a': 5, 'b': 10, 'c': 15}, {'a': 4, 'b': 8, 'c': 12}, {'a': 8, 'b': 16, 'c': 24}]

In [9]:
def clean_up_string(string):
    #clean string drop the potential question mark at the end of the music name
    if ' ?' in string:
        string = string.replace(' ?','')
    elif '?' in string:
        string = string.replace('?','')
    return string

In [11]:
test = clean_up_string('Hurricane wrote by Dillon Francis ?')
test

'Hurricane wrote by Dillon Francis'